@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');
body{
    font-family: Michroma , serif;
    background: linear-gradient(90deg, #b14c09 13%, #360b0b 97%);
}
p{
    color: antiquewhite;
}
.nav-link{
    
    color: orangered;
}
.navbar-nav .nav-link.active{
    color: rgb(175, 164, 164);
}
.navbar-brand img{
width: 45px;

}
.navbar-toggler{
    background-color: rgb(189, 137, 137);
}
.sidebar{
    color: antiquewhite;
    background: linear-gradient(270deg, #b14c09 13%, #3b0e0e 97%);
}

.card{
    background: linear-gradient(270deg, #b14c09 13%, #3b0e0e 97%);
    color: antiquewhite;
}
.card a {
    text-decoration: none;
    color: antiquewhite;
}
.slide-text,
.footer-text{
    color: antiquewhite;
    margin: auto auto ;
}

footer,
.btn-outline-primary{
background:  linear-gradient(270deg, #b14c09 13%, #3b0e0e 97%);
}
.call-anim{
    animation: myAnim 2s ease 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
@media (max-width:755px) {
    .carousel-indicators{
        display: none;
    }
}
